* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html, body {
    height: 100%;
}

body {
    color: white;
    background: linear-gradient(270deg, #4b4d47, #773838, #c24a4a, #4b4d47);
    background-size: 800% 800%;
    animation: gradientMove 10s ease infinite;
    display: flex;
    flex-direction: column;
}


@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


nav {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
}

.logo {
    color: red;
}

nav ul {
    display: flex;
    list-style: none;
    font-size: large;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav a:hover {
    color: red;
}


.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 150px;
}

.home-text h1 {
    font-size: 50px;
}

.home-text h2 {
    font-size: 45px;
}

.home-text span {
    font-size: 45px;
    color: black;
    font-weight: bold;
}

.home-img img {
    width: 280px;
    border-radius: 50%;
    border: 4px solid black;
    transition: 0.3s;
}

p{
    font-size: 25px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 50px;
    padding: 50px;
    border-radius: 20px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.about-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 100px 50px;
    padding: 50px;
    border-radius: 20px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.profile-imgg {
  height: 600px;
  float: left;
  border-radius: 10px;  
  margin-right: 20px;
}

.profile-imgs {
  height: 600px;
  width: 400px;
  float: right;
  border-radius: 10px;  
  margin-right: 20px;
}


.about-text {
  padding: auto;
  margin: auto;  
  max-width: none;
}

.experience-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 100px 50px;
    padding: 50px;
    border-radius: 20px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.html-img{
    width: 400px;
    height: 600px;
}

.profiles-img {
  height: 600px;
  float: right;
  border-radius: 10px;  
  margin-right: 20px;
}

.abouts-text {
  padding: auto;
  margin: auto;  
  max-width: none;
}

.interest-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    
}

.interest-box {
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}

.interest-box img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 350px;
    object-fit: contain;
    margin-bottom: 10px;
    border-color: black;
}

.interest-box:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.skill-box {
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}

.skill-box img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.skill-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 50px;
    padding: 50px;
    border-radius: 20px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.card h2 {
    margin-bottom: 10px;
    color: black;
}


.socials {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.social {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 18px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.social:hover {
    transform: scale(1.1);
}

.fb { background: #1877f2; }
.ig { background: linear-gradient(45deg,#f09433,#dc2743,#bc1888); }
.gm { background: #d44638; }

.footer {
    margin-top: auto;
    padding: 20px;
    text-align: center;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
    border-top: 2px solid red;
}

.contact {
    padding: 60px 20px;
    background: linear-gradient(to right, #8b0000, #b22222);
    display: flex;
    justify-content: center;
}


.footer p {
    font-size: 15px;
    margin-bottom: 0;
}

html {
    scroll-behavior: smooth;
}
